{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django blog</title>
    <link href="{% static 'css/base.css/' %}" rel="stylesheet">
</head>
<body>
<header>
  <div class="nav-left">
  <h1><a href="{% url 'home' %}">Xush kelibsiz!</a></h1>
  </div>
  <div>
    <a href="{% url 'jek_new' %}">Yangi post qo'shish</a>
  </div>
</header>
{% if user.is_authenticated %}
<p>{{ user.username }}, saytga xushkelibsiz</p>
<a href="{% url 'logout' %}">Log out</a>
{% else %}
<p>Siz saytga kirmagansiz!</p>
<a href="{% url 'login' %}">Log in</a> |
<a href="{% url 'signup' %}">Ro'yxatdan o'tish</a>
{% endif %}
<div>
  {% block content %}

  {% endblock content %}
</div>
</body>
</html>